{% extends "base_template.html" %}

{% block title %}Explore{% endblock %}

{% block content %}

    <h1 class="h2 mb-3"><b>Explore</b></h1>

    <div class="row"  id="filters">

        <div class="col-12">
            <div class="mb-3" style="width:57%">
                <input class="form-control custom-search" id="query" name="query" required="" type="text" value="" autofocus placeholder="Datasets by title, description, authors, tags, UVL files...">
            </div>
        </div>

        <h3 class="h3 mb-3">
            <span id="results_number"></span>
        </h3>

        <div class="col-lg-7 scrollable-column">
            <div class="row">
                <div id="results"></div>

                <div class="col text-center" id="results_not_found">
                    <img src="{{ url_for('static', filename='img/items/not_found.svg') }}"
                        style="width: 50%; max-width: 100px; height: auto; margin-top: 30px"/>
                    <p style="margin-top: 20px">
                        We have not found any datasets that meet your search criteria. <br>How about trying some others?
                    </p>
                </div>
                <div id="results_not_found" style="text-align: center;"></div>
            </div>
        </div>

        <div class="col-lg-5 fixed-column">
            <div class="card bg-dark text-white mb-4">
                <div class="card-body">
                    <h2>Filters</h2>

                    {{ form.hidden_tag() }}

                    <div class="row">
                        <div class="col-12">
                            <div class="d-flex flex-column align-items-center">
                                <div class="mb-3 w-100">
                                    <label for="publication_type" class="form-label">Publication Type</label>
                                    <select class="btn btn-primary dropdown-toggle uniform-element w-100" type="button" id="publication_type" name="publication_type" required="" style="width: 70%; appearance: none; -webkit-appearance: none; -moz-appearance: none; background-image: none;">                                <option value="any" selected disabled>Filter by</option>
                                        <option value="any">Any</option>
                                        <option value="none">None</option>
                                        <option value="annotationcollection">Annotation Collection</option>
                                        <option value="book">Book</option>
                                        <option value="section">Book Section</option>
                                        <option value="conferencepaper">Conference Paper</option>
                                        <option value="datamanagementplan">Data Management Plan</option>
                                        <option value="article">Journal Article</option>
                                        <option value="patent">Patent</option>
                                        <option value="preprint">Preprint</option>
                                        <option value="deliverable">Project Deliverable</option>
                                        <option value="milestone">Project Milestone</option>
                                        <option value="proposal">Proposal</option>
                                        <option value="report">Report</option>
                                        <option value="softwaredocumentation">Software Documentation</option>
                                        <option value="taxonomictreatment">Taxonomic Treatment</option>
                                        <option value="technicalnote">Technical Note</option>
                                        <option value="thesis">Thesis</option>
                                        <option value="workingpaper">Working Paper</option>
                                        <option value="other">Other</option>
                                    </select>
                                </div>
                            </div>

                            <div class="d-flex flex-column align-items-center">
                                <div class="mb-3 w-100">
                                    <label for="publication_type" class="form-label">Sort by</label>
                                    <select class="btn btn-primary dropdown-toggle uniform-element w-100" type="button" id="sorting" data-bs-toggle="dropdown" style="width: 70%; appearance: none; -webkit-appearance: none; -moz-appearance: none; background-image: none;">
                                        <option value="newest" selected>Newest first</option>
                                        <option value="oldest">Oldest first</option>
                                        <option value="name_asc">Name A-Z</option>
                                        <option value="name_desc">Name Z-A</option>
                                        <option value="feature_models_asc">Fewest feature models first</option>
                                        <option value="feature_models_desc">Most feature models first</option>
                                    </select>
                                </div>
                            </div>

                            <div class="mb-4"></div>
                            
                            <div class="mb-3 w-100 text-center">
                                <button id="clear-filters" class="btn btn-outline-primary uniform-element w-100">
                                    <i data-feather="x-circle" class="me-2"></i>
                                    Clear filters
                                </button>
                            </div>


                    <!-- Nueva sección de nube de etiquetas, justo debajo de "Clear filters" -->
                    <div class="row mt-4">
                        <div class="col-12">
                            <h5>Tag Cloud</h5>
                            <div id="tag-cloud" class="mb-3 tag-cloud">
                                <!-- Las etiquetas se cargarán aquí -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{{ url_for('explore.scripts') }}"></script>
    <script>
        function getRandomColor() {
            const letters = '0123456789ABCDEF';
            let color = '#';
            for (let i = 0; i < 6; i++) {
                color += letters[Math.floor(Math.random() * 16)];
            }
            return color;
        }

        function getRandomPosition(max) {
            return Math.floor(Math.random() * max) + 'px';
        }

        // Cargar la nube de etiquetas al cargar la página
        fetch('{{ url_for("explore.tag_cloud") }}')
            .then(response => response.json())
            .then(data => {
                const tagCloud = document.getElementById('tag-cloud');
                tagCloud.innerHTML = '';
                for (let [tag, count] of Object.entries(data)) {
                    const tagElement = document.createElement('a');
                    tagElement.className = 'tag';
                    tagElement.style.fontSize = `${Math.min(count * 5, 30)}px`;
                    tagElement.style.color = getRandomColor();
                    tagElement.innerText = tag;
                    tagElement.href = `{{ url_for('explore.feature_models_by_tag', tag='') }}${tag}`;
                    
                    // Establece una posición aleatoria dentro de la nube
                    tagElement.style.left = getRandomPosition(tagCloud.offsetWidth - 50);
                    tagElement.style.top = getRandomPosition(tagCloud.offsetHeight - 50);

                    tagCloud.appendChild(tagElement);
                }
            });
    </script>
{% endblock %}

{% block styles %}
<style>
    .tag-cloud {
        position: relative;
        width: 100%;
        height: 300px; /* Altura de la nube */
        overflow: hidden;
        border: 1px solid #ddd; /* Opcional, para ver los límites de la nube */
    }
    .tag-cloud .tag {
        position: absolute; /* Para posicionar de forma dispersa */
        text-decoration: none;
        font-weight: bold;
        transition: transform 0.2s;
        color: inherit;
    }
    .tag-cloud .tag:hover {
        transform: scale(1.1);
    }
</style>
{% endblock %}
