FLASK_APP_NAME="UVLHUB.IO(dev)"
FLASK_ENV=development
DOMAIN=localhost:5000
MARIADB_HOSTNAME=localhost
MARIADB_PORT=3306
MARIADB_DATABASE=uvlhubdb
MARIADB_TEST_DATABASE=uvlhubdb_test
MARIADB_USER=uvlhubdb_user
MARIADB_PASSWORD=uvlhubdb_password
MARIADB_ROOT_PASSWORD=uvlhubdb_root_password
WORKING_DIR=""

FILESS_DB_USER=yourfiless.iodbuser
FILESS_DB_PASSWORD=yourpassword
FILESS_DB_HOST=yourfiless.iodbhost
FILESS_DB_PORT=yourport
FILESS_DB_NAME=yourfiless.iodbname