<!-- app/templates/profile/view_profile.html -->

{% extends "base_template.html" %}

{% block title %}Profile - {{ user.profile.name }}{% endblock %}

{% block content %}
<div class="container">
    
    <h1 class="h3 mb-3">User profile</h1>
    <div class="row">

        <div class="col-12 col-md-8 col-lg-6"> 

            <div class="card shadow-sm" > 
                <div class="card-header card-dark"> 
                    <h5 class="card-title mb-0" style="color: white; font-size: 15px;">Profile Information</h5>
                </div>
                <div class="card-body">
                    <p class="card-text h5"><i class="fa fa-user"></i> <strong>Name:</strong> {{user_profile.name}}</p>
                    <p class="card-text h5"><i class="fa fa-user-circle"></i> <strong>Surname:</strong> {{user_profile.surname}}</p>
                    <p class="card-text h5"><i class="fa fa-building"></i> <strong>Affiliation:</strong> {{user_profile.affiliation}}</p>
                    <p class="card-text h5"><i class="fa fa-id-card"></i> <strong>Orcid:</strong> {{user_profile.orcid}}</p>
                    <p class="card-text h5"><i class="fa fa-envelope"></i> <strong>Email:</strong> {{user.email}}</p>
                    <p class="card-text h5"><i class="fa fa-database"></i> <strong>Uploaded datasets:</strong> {{ total_datasets }} datasets</p>
                </div>
                
            </div>

        </div>

    </div>
        <div class="col-md-8">
            <h3>Datasets</h3>
            <ul class="list-group">
                {% for dataset in datasets %}
                <li class="list-group-item">
                    <a href="{{ url_for('dataset.view_dataset', dataset_id=dataset.id) }}">{{ dataset.ds_meta_data.title }}</a>
                    <p class="text-secondary">{{ dataset.created_at.strftime('%B %d, %Y at %I:%M %p') }}</p>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock %}