{% extends "base_template.html" %}

{% block title %}Bot Configuration{% endblock %}

{% block content %}
<style>
    .tree {
        margin-top: 20px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding-left: 20px;
    }

    .node {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        border-left: 2px solid #3498db; /* Cambiado a azul */
    }

    .node input[type="checkbox"] {
        display: none;
    }

    .node label {
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        color: #333;
        display: inline-block;
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;
    }

    .node h2 {
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        color: #333;
        display: inline-block;
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;
    }

    .node label::before {
        content: "►";
        position: absolute;
        left: 0;
        top: 0;
        font-size: 16px;
        color: #3498db; /* Cambiado a azul */
        transition: transform 0.3s ease-in-out;
    }

    .node input[type="checkbox"]:checked + label::before {
        content: "▼";
        transform: rotate(90deg);
    }

    .children {
        display: none;
        margin-top: 10px;
        margin-left: 20px;
        padding-left: 10px;
        border-left: 1px solid #b3d8f7; /* Color azul claro */
        animation: fadeIn 0.3s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .node input[type="checkbox"]:checked ~ .children {
        display: block;
    }

    .form-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }

    .form-container select,
    .form-container input[type="text"],
    .form-container .add-btn {
        flex: 1;
        min-width: 150px;
        margin: 5px 0;
        border-radius: 4px;
        padding: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
    }

    .add-btn {
        background-color: #19cf47; /* Cambiado a azul */
        border: none;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .add-btn:hover {
        background-color: #197a31; /* Azul más oscuro al pasar el ratón */
    }

    .delete-button {
        background-color: #e74c3c; /* Sin cambios */
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .delete-button:hover {
        background-color: #c0392b;
    }

    .node label:hover {
        color: #3498db; /* Cambiado a azul */
    }

    .run-stop-btn {
        background-color: #3498db; /* Azul para el botón */
        color: white;
        border: none;
        padding: 5px 15px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .run-stop-btn:hover {
        background-color: #2980b9;
    }
</style>

<h1 class="h3 mb-3">Bot Configuration</h1>

<div id="tree" class="tree">
    {% macro render_tree(node, form) %}
        <div class="node">
            {% if node.children and node.children|length > 0 %}
                <input type="checkbox" id="node-{{ node.id }}">    
                {% if node.name != "0" and node.name != "1" %}
                    <label for="node-{{ node.id }}">{{ node.name }}</label>
                {% else %}
                    <label for="node-{{ node.id }}"></label>
                {% endif %}
            {% else %}
                {% if node.name != "0" and node.name != "1" %}
                    <h2>{{ node.name }}</h2>
                {% endif %}
            {% endif %}
            {% if node.name == "0" %}
                <form method="POST" action="{{ url_for('botintegration.delete_node', node_id=node.id) }}" style="display: inline;">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="config_action" value="run">
                    <button type="submit" class="run-stop-btn">Run</button>
                </form>
            {% elif node.name == "1" %}
                <form method="POST" action="{{ url_for('botintegration.delete_node', node_id=node.id) }}" style="display: inline;">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="config_action" value="stop">
                    <button type="submit" class="run-stop-btn">Stop</button>
                </form>
            {% endif %}


            <div class="form-container">
                {% if node.name in ["CHATS", "TELEGRAM BOTS", "FEATURES", "SYSTEM ERRORS", "NEW MESSAGES"] %}
                    <form method="POST" action="
                        {% if node.name == 'CHATS' %}
                            {{ url_for('botintegration.create_node_route_add_chat') }}
                        {% elif node.name == 'TELEGRAM BOTS' %}
                            {{ url_for('botintegration.create_node_route_add_bot') }}
                        {% elif node.name == 'FEATURES' %}
                            {{ url_for('botintegration.create_node_route_add_feature') }}
                        {% elif node.name in ['SYSTEM ERRORS', 'NEW MESSAGES'] %}
                            {{ url_for('botintegration.create_node_route_add_types_notification') }}
                        {% endif %}" 
                        style="display: inline;">
                        {{ form.hidden_tag() }}
                        
                        <input type="hidden" name="parent_id" value="{{ node.id }}">
                        
                        {% if node.name == "CHATS" %}
                            {{ form.name(class_="form-control", placeholder="Enter your chat ID (check it using Telegram bot @userinfobot)") }}
                        {% elif node.name == "TELEGRAM BOTS" %}
                            <select name="name" id="bot-selection" class="form-control">
                                <option value="" disabled selected>Select a telegram bot</option>
                                {% for value, label in [
                                    ("5610517330:AAFmH2yl8YXRRN-mqSiIKVTSTvVykBwZNCw", "@uvlhub_bot1"),
                                    ("7928339725:AAE6JYpPcd7x668IcIxIrlxwHB0Tx6DcqPI", "@uvlhub_bot2")
                                ] %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        {% elif node.name == "FEATURES" %}
                            <select name="name" id="features-selection" class="form-control">
                                <option value="" disabled selected>Select a feature</option>
                                {% for value, label in [
                                    ("EXPLORE", "EXPLORE"),
                                    ("AUTORESPONDER", "AUTORESPONDER"),
                                    ("DASHBOARD", "DASHBOARD")
                                ] %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        {% elif node.name in ["SYSTEM ERRORS", "NEW MESSAGES"] %}
                            <select name="name" id="errors-selection" class="form-control">
                                <option value="" disabled selected>Select a frequency</option>
                                {% for value, label in [
                                    ("DAILY", "DAILY"),
                                    ("WEEKLY", "WEEKLY"),
                                    ("IMMEDIATELY", "IMMEDIATELY")
                                ] %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        
                        {{ form.submit(class_="add-btn") }}

                    </form>
                {% endif %}

                {% if node.name not in ["CHATS", "TELEGRAM BOTS", "FEATURES", "SYSTEM ERRORS", "NEW MESSAGES", "0", "1", "NOTIFICATION PREFERENCE", "TYPES OF NOTIFICATION"] %}
                    <form method="POST" action="{{ url_for('botintegration.delete_node', node_id=node.id) }}" style="display: inline;">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="delete-button">Eliminar</button>
                    </form>
                {% endif %}
            </div>

            {% if node.children and node.children|length > 0 %}
                <div class="children">
                    {% for child in node.children %}
                        {{ render_tree(child, form) }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endmacro %}

    {% if tree and tree|length > 0 %}
        {{ render_tree(tree, form) }}
    {% else %}
        <form method="POST" action="{{ url_for('botintegration.create_node_route_add_bot') }}" style="display: inline;">
            <label">TELEGRAM BOTS</label>
            <div class="form-container">
                <select name="name" id="bot-selection" class="form-control">
                    <option value="" disabled selected>Select a telegram bot</option>
                        {% for value, label in [
                            ("5610517330:AAFmH2yl8YXRRN-mqSiIKVTSTvVykBwZNCw", "@uvlhub_bot1"),
                            ("7928339725:AAE6JYpPcd7x668IcIxIrlxwHB0Tx6DcqPI", "@uvlhub_bot2")
                            ] %}
                            <option value="{{ value }}">{{ label }}</option>
                        {% endfor %}
                </select>
                <div class="col-4">
                    {{ form.submit(class_="add-btn") }}
                </div>
            </div>
        </form>
    {% endif %}
</div>
{% endblock %}
