{% extends "base_template.html" %}

{% block title %}Bot Configuration{% endblock %}

{% block content %}
<style>
    .tree {
        margin-top: 20px;
        font-family: Arial, sans-serif;
        font-size: 14px;
        padding-left: 20px;
    }

    .node {
        position: relative;
        margin-bottom: 10px;
        padding-left: 20px;
        border-left: 2px solid #3498db; /* Cambiado a azul */
    }

    .node input[type="checkbox"] {
        display: none;
    }

    .node label {
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        color: #eeeded;
        display: inline-block;
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;
    }

    .node h2 {
        cursor: pointer;
        font-weight: bold;
        font-size: 16px;
        color: #dfdfdf;
        display: inline-block;
        margin-bottom: 10px;
        position: relative;
        padding-left: 20px;
    }

    .node label::before {
        content: "►";
        position: absolute;
        left: 0;
        top: 0;
        font-size: 16px;
        color: #3498db; /* Cambiado a azul */
        transition: transform 0.3s ease-in-out;
    }

    .node input[type="checkbox"]:checked + label::before {
        content: "▼";
        transform: rotate(90deg);
    }

    .children {
        display: none;
        margin-top: 10px;
        margin-left: 20px;
        padding-left: 10px;
        border-left: 1px solid #b3d8f7; /* Color azul claro */
        animation: fadeIn 0.3s ease-in-out;
    }

    @keyframes fadeIn {
        from {
            opacity: 0;
            transform: translateY(-10px);
        }
        to {
            opacity: 1;
            transform: translateY(0);
        }
    }

    .node input[type="checkbox"]:checked ~ .children {
        display: block;
    }

    .form-container {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        gap: 10px;
    }

    .form-container select,
    .form-container input[type="text"],
    .form-container .add-btn {
        flex: 1;
        min-width: 150px;
        margin: 5px 0;
        border-radius: 4px;
        padding: 5px;
        border: 1px solid #ccc;
        font-size: 14px;
    }

    .add-btn {
        background-color: #19cf47; /* Cambiado a azul */
        border: none;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .add-btn:hover {
        background-color: #197a31; /* Azul más oscuro al pasar el ratón */
    }

    .delete-button {
        background-color: #e74c3c; /* Sin cambios */
        color: white;
        border: none;
        padding: 5px 10px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .delete-button:hover {
        background-color: #c0392b;
    }

    .node label:hover {
        color: #3498db; /* Cambiado a azul */
    }

    .run-btn {
        background-color: #999999; /* Azul para el botón */
        color: white;
        border: none;
        padding: 5px 15px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .stop-btn {
        background-color: #665f5e; /* Azul para el botón */
        color: white;
        border: none;
        padding: 5px 15px;
        border-radius: 4px;
        cursor: pointer;
        transition: background-color 0.3s;
    }

    .run-stop-btn:hover {
        background-color: #2980b9;
    }
</style>

<h1 class="h3 mb-3">Bot Configuration</h1>

<div id="tree" class="tree">
    {% set open_nodes = session.get('open_nodes', []) %}
    {% macro render_tree(node, form, open_nodes) %}
        <div class="node">

            {% set name_mapping = {
                "3": "BOTS",
                "4": "CHATS",
                "5": "TYPES OF NOTIFICATIONS",
                "6": "NEW MESSAGES",
                "7": "IMMEDIATELY - Notifications will be sent immediately.",
                "8": "FEATURES",
                "9": "DAILY - Notifications will be sent at 8 PM daily."
            } %}
            {% if node.children and node.children|length > 0 %}
                <input type="checkbox" id="node-{{ node.id }}" {% if node.id in open_nodes %}checked{% endif %}>
                {% if node.name != "0" and node.name != "1" %}
                    <label for="node-{{ node.id }}">{{ name_mapping.get(node.name, node.name) }}</label>
                {% else %}
                    <label for="node-{{ node.id }}"></label>
                {% endif %}
            {% else %}
                {% if node.name != "0" and node.name != "1" %}
                    <h2>{{ name_mapping.get(node.name, node.name) }}</h2>
                {% endif %}
            {% endif %}
            {% if node.name == "0" %}
                <form method="POST" action="{{ url_for('botintegration.merge_node', node_id=node.id) }}" style="display: inline;">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="config_action" value="run">
                    <button type="submit" class="run-btn">Run ►</button>
                </form>
            {% elif node.name == "1" %}
                <form method="POST" action="{{ url_for('botintegration.merge_node', node_id=node.id) }}" style="display: inline;">
                    {{ form.hidden_tag() }}
                    <input type="hidden" name="config_action" value="stop">
                    <button type="submit" class="stop-btn">Stop ■</button>
                </form>
            {% endif %}


            <div class="form-container">
                {% if node.name in ["4", "3", "8", "6"] %}
                    <form method="POST" action="
                        {% if node.name == '4' %}
                            {{ url_for('botintegration.create_node_route_add_chat') }}
                        {% elif node.name == '3' %}
                            {{ url_for('botintegration.create_node_route_add_bot') }}
                        {% elif node.name == '8' %}
                            {{ url_for('botintegration.create_node_route_add_feature') }}
                        {% elif node.name in ['6'] %}
                            {{ url_for('botintegration.create_node_route_add_types_notification') }}
                        {% endif %}" 
                        style="display: inline;">
                        {{ form.hidden_tag() }}
                        
                        <input type="hidden" name="parent_id" value="{{ node.id }}">
                        
                        {% if node.name == "4" %}
                            {{ form.name(class_="form-control custom-search", placeholder="Enter your chat id") }}
                        {% elif node.name == "3" %}
                            <select name="name" id="features-selection" class="form-control custom-search">
                                <option value="" disabled selected>Select a bot</option>
                                {% for bot_name in bot_names %}
                                    <option value="{{ bot_name }}">{{ bot_name }}</option>
                                {% endfor %}
                            </select>
                        {% elif node.name == "8" %}
                            <select name="name" id="features-selection" class="form-control custom-search">
                                <option value="" disabled selected>Select a feature</option>
                                {% for feature in features %}
                                    <option value="{{ feature }}">{{ feature }}</option>
                                {% endfor %}
                            </select>
                        {% elif node.name in ["6"] %}
                            <select name="name" id="errors-selection" class="form-control custom-search">
                                <option value="" disabled selected>Select a frequency</option>
                                {% for value, label in [
                                    ("9", "DAILY - Notifications will be sent at 8 PM daily."),
                                    ("7", "IMMEDIATELY - Notifications will be sent immediately.")
                                ] %}
                                    <option value="{{ value }}">{{ label }}</option>
                                {% endfor %}
                            </select>
                        {% endif %}
                        
                        {{ form.submit(class_="add-btn") }}

                    </form>
                {% endif %}

                {% if node.name|length >= 2 %}
                    <form method="POST" action="{{ url_for('botintegration.delete_node', node_id=node.id) }}" style="display: inline;">
                        {{ form.hidden_tag() }}
                        <button type="submit" class="delete-button">Eliminar</button>
                    </form>
                {% endif %}
            </div>

            {% if node.children and node.children|length > 0 %}
                <div class="children">
                    {% for child in node.children %}
                        {{ render_tree(child, form) }}
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    {% endmacro %}

    {% set open_nodes = session.get('open_nodes', []) %}
    {% if tree and tree|length > 0 %}
        {{ render_tree(tree, form, open_nodes) }}
    {% else %}
        <div id="tree" class="tree">
            <div class="node">
                <h2>BOT TOKEN</h2>
                <div class="form-container">
                    <form method="POST" action="{{ url_for('botintegration.create_node_route_add_bot') }}" style="display: inline;">
                        {{ form.name(class_="form-control custom-search", placeholder="Token of Telegram or Discord") }}

                        {{ form.submit(class_="add-btn") }}
                    </form>
                </div>
            </div>
        </div>
    {% endif %}
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        // Obtener el estado de los nodos abiertos desde sessionStorage
        let openNodes = JSON.parse(sessionStorage.getItem('open_nodes') || '[]'); 

        // Iterar sobre todos los checkboxes y marcar los que estén en openNodes
        document.querySelectorAll('.node input[type="checkbox"]').forEach(function(checkbox) {
            const nodeId = parseInt(checkbox.id.split('-')[1]); // Obtener el ID del nodo del checkbox
            
            // Si el nodo está en openNodes, marcar el checkbox
            if (openNodes.includes(nodeId)) {
                checkbox.checked = true;
            }
        });

        // Agregar el evento 'change' para manejar cambios en el estado de los checkboxes
        document.querySelectorAll('.node input[type="checkbox"]').forEach(function(checkbox) {
            checkbox.addEventListener('change', function(event) {
                event.preventDefault(); // Prevenir recarga de la página

                let openNodes = JSON.parse(sessionStorage.getItem('open_nodes') || '[]'); // Obtener el estado de los nodos
                const nodeId = parseInt(this.id.split('-')[1]); // Obtener el ID del nodo

                // Actualizar el estado de los nodos
                if (this.checked) {
                    if (!openNodes.includes(nodeId)) {
                        openNodes.push(nodeId); // Agregar nodo a los abiertos si no está ya en la lista
                    }
                } else {
                    openNodes = openNodes.filter(function(id) {
                        return id !== nodeId; // Eliminar el nodo de los abiertos si se desmarca
                    });
                }

                // Guardar el estado actualizado de los nodos en sessionStorage
                sessionStorage.setItem('open_nodes', JSON.stringify(openNodes));

                // Hacer una petición AJAX para guardar el estado del nodo en el backend
                const data = {
                    node_id: nodeId,
                    open_nodes: openNodes
                };

                fetch("{{ url_for('botintegration.save_node_states') }}", {
                    method: "POST",
                    headers: {
                        "Content-Type": "application/json"
                    },
                    body: JSON.stringify(data)
                })
                .then(response => response.json())
                .then(data => {
                    console.log("Estado guardado con éxito:", data);
                })
                .catch(error => {
                    console.error("Error al guardar el estado:", error);
                });
            });
        });
    });

</script>
{% endblock %}
