{% extends "base_template.html" %}

{% block title %}View dataset{% endblock %}

{% block content %}

<h1 class="h3 mb-3"><b>Dashboards</b></h1>

<p>Para ver los diferentes Dashboards de UVLHub, seleccione una opción:</p>

<!-- Botón para mostrar/ocultar los gráficos -->
<div class="custom-buttons">
    <button type="button" class="btn-dashboard" onclick="toggleDropdownAndChart()">Ver gráfica por autor</button>
    <button type="button" class="btn-dashboard" onclick="toggleDatasetSizeChart()">Ver tamaño de archivos por dataset</button>
    <button type="button" class="btn-dashboard" onclick="toggleViewsOverTimeChart()">Ver evolución de visualizaciones</button>
</div>

<!-- Dropdown para seleccionar el tipo de datos (inicialmente oculto) -->
<div class="custom-dropdown" id="data-type-container" style="display: none;">
    <label for="data-type">Selecciona el tipo de datos: </label>
    <select id="data-type" onchange="updateChart()">
        <option value="datasets">Datasets por autor</option>
        <option value="views">Visualizaciones por autor</option>
    </select>
</div>

<!-- Contenedor para la gráfica de autores -->
<canvas id="chartCanvas" width="400" height="200" style="margin-top: 20px; display: none;"></canvas>

<!-- Contenedor para la gráfica de tamaños de dataset -->
<canvas id="datasetSizeChart" width="400" height="200" style="margin-top: 20px; display: none;"></canvas>

<!-- Contenedor para la gráfica de evolución de visualizaciones -->
<canvas id="viewsOverTimeChart" width="400" height="200" style="margin-top: 20px; display: none;"></canvas>

<!-- Div oculto para almacenar los datos de autores, cantidad de datasets, visualizaciones y tamaños de datasets -->
<div id="data-container"
     data-author-names-datasets='{{ author_names_dataset | tojson | safe }}'
     data-datasets-count='{{ datasets_count | tojson | safe }}'
     data-author-names-views='{{ author_names_view | tojson | safe }}'
     data-view-counts='{{ view_counts | tojson | safe }}'
     data-dataset-names='{{ dataset_names | tojson | safe }}'
     data-total-sizes='{{ total_sizes | tojson | safe }}'
     data-view-dates='{{ view_dates | tojson | safe }}'
     data-view-counts-over-time='{{ view_counts_over_time | tojson | safe }}'
     style="display: none;">
</div>

{% endblock %}

{% block styles %}
<style>
    .custom-buttons {
        display: flex;
        gap: 10px;
        margin-top: 10px;
    }

    .custom-dropdown {
        margin-top: 10px;
        font-weight: bold;
    }
</style>
{% endblock %}

{% block scripts %}
<!-- Incluye Chart.js -->
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>
    const dataContainer = document.getElementById('data-container');
    let chartInstance;
    let datasetSizeChartInstance;
    let viewsOverTimeChartInstance;

    function toggleDropdownAndChart() {
        const dropdownContainer = document.getElementById('data-type-container');
        const chartCanvas = document.getElementById('chartCanvas');

        // Alternar visibilidad del dropdown y el canvas de la gráfica
        if (dropdownContainer.style.display === "none") {
            dropdownContainer.style.display = "block";
            chartCanvas.style.display = "block";

            // Inicializar la gráfica solo si no existe aún
            if (!chartInstance) {
                initializeChart();
            }
        } else {
            dropdownContainer.style.display = "none";
            chartCanvas.style.display = "none";
        }
    }

    function toggleDatasetSizeChart() {
        const datasetSizeChart = document.getElementById('datasetSizeChart');

        // Alternar visibilidad del canvas de la gráfica de tamaños de dataset
        if (datasetSizeChart.style.display === "none") {
            datasetSizeChart.style.display = "block";
            
            // Inicializar la gráfica solo si no existe aún
            if (!datasetSizeChartInstance) {
                initializeDatasetSizeChart();
            }
        } else {
            datasetSizeChart.style.display = "none";
        }
    }

    function toggleViewsOverTimeChart() {
        const viewsOverTimeChartCanvas = document.getElementById('viewsOverTimeChart');

        if (viewsOverTimeChartCanvas.style.display === "none") {
            viewsOverTimeChartCanvas.style.display = "block";
            initializeViewsOverTimeChart();
        } else {
            viewsOverTimeChartCanvas.style.display = "none";
        }
    }

    function updateChart() {
        const selectedType = document.getElementById('data-type').value;
        
        let labels, data, label;

        if (selectedType === 'datasets') {
            labels = JSON.parse(dataContainer.getAttribute('data-author-names-datasets'));
            data = JSON.parse(dataContainer.getAttribute('data-datasets-count'));
            label = 'Número de Datasets por Autor';
        } else {
            labels = JSON.parse(dataContainer.getAttribute('data-author-names-views'));
            data = JSON.parse(dataContainer.getAttribute('data-view-counts'));
            label = 'Número de Visualizaciones por Autor';
        }

        // Actualizar los datos de la gráfica
        chartInstance.data.labels = labels;
        chartInstance.data.datasets[0].data = data;
        chartInstance.data.datasets[0].label = label;
        chartInstance.update();
    }

    function initializeChart() {
        const labels = JSON.parse(dataContainer.getAttribute('data-author-names-datasets'));
        const data = JSON.parse(dataContainer.getAttribute('data-datasets-count'));
        
        const ctx = document.getElementById('chartCanvas').getContext('2d');
        chartInstance = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: labels,
                datasets: [{
                    label: 'Número de Datasets por Autor',
                    data: data,
                    backgroundColor: 'rgba(0, 123, 255, 0.5)',
                    borderColor: 'rgba(0, 123, 255, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Cantidad'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Autores'
                        }
                    }
                }
            }
        });
    }

    function initializeDatasetSizeChart() {
        const datasetNames = JSON.parse(dataContainer.getAttribute('data-dataset-names'));
        let totalSizes = JSON.parse(dataContainer.getAttribute('data-total-sizes'));

        let unit = "Bytes"; // Valor predeterminado
        if (totalSizes.length > 0 && typeof totalSizes[0] === 'string') {
            const match = totalSizes[0].match(/\s([A-Za-z]+)$/);
            if (match) {
                unit = match[1];
            }
        }

        totalSizes = totalSizes.map(size => {
            if (typeof size === 'string' && size.match(/\d+\s[A-Za-z]+/)) {
                return parseFloat(size.replace(/[^\d.]/g, ''));
            }
            return parseFloat(size);
        });

        const ctx = document.getElementById('datasetSizeChart').getContext('2d');
        datasetSizeChartInstance = new Chart(ctx, {
            type: 'bar',
            data: {
                labels: datasetNames,
                datasets: [{
                    label: `Tamaño Total de Archivos por Dataset (${unit})`,
                    data: totalSizes,
                    backgroundColor: 'rgba(75, 192, 192, 0.5)',
                    borderColor: 'rgba(75, 192, 192, 1)',
                    borderWidth: 1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: `Tamaño en ${unit}`
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Datasets'
                        }
                    }
                }
            }
        });
    }

    function initializeViewsOverTimeChart() {
        const viewDates = JSON.parse(dataContainer.getAttribute('data-view-dates'));
        const viewCountsOverTime = JSON.parse(dataContainer.getAttribute('data-view-counts-over-time'));
        console.log(viewDates);
        console.log(viewCountsOverTime);
        const ctx = document.getElementById('viewsOverTimeChart').getContext('2d');
        viewsOverTimeChartInstance = new Chart(ctx, {
            type: 'line',
            data: {
                labels: viewDates,
                datasets: [{
                    label: 'Visualizaciones a lo largo del tiempo',
                    data: viewCountsOverTime,
                    fill: false,
                    borderColor: 'rgba(75, 192, 192, 1)',
                    tension: 0.1
                }]
            },
            options: {
                responsive: true,
                scales: {
                    y: {
                        beginAtZero: true,
                        title: {
                            display: true,
                            text: 'Cantidad de Visualizaciones'
                        }
                    },
                    x: {
                        title: {
                            display: true,
                            text: 'Fecha'
                        }
                    }
                },
                plugins: {
                    legend: {
                        display: true,
                        position: 'top'
                    }
                }
            }
        });
    }
</script>
{% endblock %}
